@media only screen and (max-width: 600px) {
    section div.cantainer {
        text-align: center;
    }
    section div.cantainer h1 {
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        font-size: 4rem;
        color: red;
        padding-top: 30px;
    }
    section div.cantainer p {
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 2rem;
        color: rgb(175, 4, 110);
        margin-bottom: 40px;
    }
    #login {
        height: 100%;
        padding-top: 6px;
    }
    #login a {
        color: white;
        padding-left: 25px;
        padding-top: 10px;
    }
    .logo {
        width: 10vh;
        margin-left: 10px;
        padding: 5px;
    }
    .logo img {
        width: 100%;
        height: 8vh;
        border-radius: 12px;
    }
    .sponcer h1 {
        text-align: center;
        font-weight: bolder;
        font-size: 2rem;
        color: green;
    }
    #product .hd {
        text-align: center;
        font-size: 9vh;
        color: #6e0b2b;
        background-color: #e2e8ef;
        padding: 5px;
        margin-top: 56px;
        font-style: italic;
        font-family: fantasy;
    }
    .col img {
        width: 100%;
        height: 230px;
        margin: 0;
    }
    .col h1 {
        text-align: center;
        font-size: 5vh;
        color: red;
    }
    .col p {
        color: white;
        font-size: 3vh;
        background-color: #b92626;
        margin-left: -16px;
        margin-right: -16px;
    }
    .col span {
        font-size: 3vh;
        color: #06220e;
        font-weight: bold;
    }
    #copy {
        width: 100%;
        background-color: rgba(32, 30, 30, 0.884);
        color: wheat;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 0;
        padding: 10px;
    }
    .bg {
        margin-top: 60px;
    }
    .col a {
        color: wheat;
        cursor: pointer;
        text-decoration: none;
        margin-top: auto;
        font-size: 2.8vh;
        font-style: italic;
    }
    .cart {
        float: right;
        margin-left: 30px;
        padding: 2px;
        height: 100%;
        width: 100px;
        display: relative;
        margin-top: -31px;
    }
    .cart p {
        margin-top: 0px;
        margin-bottom: -10px;
        margin-left: 20px;
        color: red;
        font-size: 1.2rem;
        font-weight: bold;
    }
    #cartitem {
        color: white;
        margin-left: 16px;
    }
}


/* for large size screen*/

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
        margin-top: 0px;
    }
    .col-md-3 {
        display: inline-block;
        margin-left: -4px;
    }
    .carousel-indicators .active {
        background-color: blue;
    }
    body .carousel-indicator li {
        background-color: blue;
    }
    body .carousel-indicators {
        bottom: 0;
        font-family: 'Libre Bodoni', serif;
    }
    body .carousel-control-prev-icon,
    body .carousel-control-next-icon {
        background-color: blue;
    }
    body .no-padding {
        padding-left: 0;
        padding-right: 0;
    }
    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        margin-top: 59px;
    }
    section div.cantainer {
        width: 100%;
        text-align: center;
        background-color: #cfddeb;
    }
    section div.cantainer h1 {
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        font-size: 4rem;
        color: red;
        padding-top: 30px;
    }
    section div.cantainer p {
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 2rem;
        color: rgb(175, 4, 110);
        margin-bottom: 40px;
    }
    section div.cantainer a {
        background-color: red;
        font-size: 2rem;
        color: aliceblue;
        border-radius: 8px;
        text-decoration: none;
        margin-bottom: 10px;
    }
    section div.cantainer a:hover {
        background-color: rgb(221, 38, 38);
    }
    .col {
        border: 4px solid rgb(105, 103, 100);
        border-radius: 8px;
        margin-left: 5px;
        margin-bottom: 8px;
    }
    #copy {
        width: 100%;
        background-color: rgba(32, 30, 30, 0.884);
        color: wheat;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 0;
        padding: 10px;
    }
    /*Css For Prodect*/
    #product .hd {
        text-align: center;
        font-size: 9vh;
        color: #6e0b2b;
        background-color: #e2e8ef;
        padding: 5px;
        margin-top: 56px;
        font-style: italic;
        font-family: fantasy;
    }
    .col img {
        width: 100%;
        height: 230px;
        margin: 0;
    }
    .col h1 {
        text-align: center;
        font-size: 5vh;
        color: red;
    }
    .col p {
        color: white;
        font-size: 3vh;
        background-color: #b92626;
        margin-left: -16px;
        margin-right: -16px;
    }
    .col span {
        font-size: 3vh;
        color: #06220e;
        font-weight: bold;
    }
    .col a {
        color: wheat;
        cursor: pointer;
        text-decoration: none;
        margin-top: auto;
        font-size: 2.8vh;
        font-style: italic;
    }
    .d-inline-flex {
        width: 100%;
        justify-content: center;
        background-color: rgb(228, 243, 212);
        border: 2px solid rgb(172, 235, 172);
        color: #772432;
        font-weight: bold;
        font-family: 'PT Sans Narrow', sans-serif;
    }
    .logo {
        width: 10vh;
        margin-left: 10px;
        padding: 5px;
    }
    .logo img {
        width: 100%;
        height: 8vh;
        border-radius: 12px;
    }
    .sponcer h1 {
        text-align: center;
        font-weight: bolder;
        font-size: 2rem;
        color: green;
    }
    .col-md-3 img {
        width: 255px;
        height: 207px;
    }
    .bg {
        margin-top: 99px;
    }
    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        margin-top: -40px;
    }
    #login {
        margin-left: 120px;
        height: 100%;
        padding-top: 6px;
    }
    #login a {
        color: white;
        padding-left: 25px;
        padding-top: 10px;
    }
    .carts {
        float: right;
        margin-left: 30px;
        padding: 2px;
        height: 100%;
        width: 100px;
        display: relative;
        margin-top: -31px;
        align-items: center;
    }
    .carts p {
        margin-top: 0px;
        margin-bottom: -10px;
        margin-left: 20px;
        color: red;
        font-size: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .cartitem {
        color: white;
        margin-left: 16px;
    }
}