<!doctype html> {%extends "myproj/base.html" %} {% block title_block %}sauth indian sweet {%endblock%}{%load static %} {% block body_block %}
<div id="product">
    <div class="hd">
        <h1>Products Listed Here</h1>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col">
                <img src="{%static 'images/product/p1.png'%}" alt="Cake">
                <div>
                    <h1>Cakes</h1>
                </div>
                <p> Best Indiaan Creamy Cakes Veg Or Non Veg Variaty For Every Functions </p>
                <span> Starting At 200-1000</p></span>
                <a href="/cake/">Order Now</a>
            </div>
            <div class="col">
                <img src="{%static 'images/product/p4.png'%}" alt="Ice-Cream">
                <div>
                    <h1>Ice-Cream</h1>
                </div>
                <p>Best Deliciouse Ice cream For Weading Parties or Every Ocation Best Creamy</p>
                <span> Starting At 50-500</p></span>
                <a href="/icecream/">Order Now</a>
            </div>
            <div class="col">
                <img src="{%static 'images/product/p5.jpg'%}" alt="punjabi sweet">
                <div>
                    <h1>Punjabi Sweets </h1>
                </div>
                <p>Best Deliciouse Punjabi Deserts Injoy The Life With Punjabi Sweet </p>
                <span> Starting At 200-1000</p></span>
                <a href="punjabisweet/">Order Now</a>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col">
                <img src="{%static 'images/product/p1.png'%}" alt="Cake">
                <div>
                    <h1>Cakes</h1>
                </div>
                <p> Best Indiaan Creamy Cakes Veg Or Non Veg Variaty For Every Functions </p>
                <span> Starting At 200-1000</p></span>
                <a href="/cake/">Order Now</a>
            </div>
            <div class="col">
                <img src="{%static 'images/product/p4.png'%}" alt="Ice-Cream">
                <div>
                    <h1>Ice-Cream</h1>
                </div>
                <p>Best Deliciouse Ice cream For Weading Parties or Every Ocation Best Creamy</p>
                <span> Starting At 50-500</p></span>
                <a href="/icecream/">Order Now</a>
            </div>
            <div class="col">
                <img src="{%static 'images/product/p5.jpg'%}" alt="punjabi sweet">
                <div>
                    <h1>Punjabi Sweets </h1>
                </div>
                <p>Best Deliciouse Punjabi Deserts Injoy The Life With Punjabi Sweet </p>
                <span> Starting At 200-1000</p></span>
                <a href="punjabisweet/">Order Now</a>
            </div>

        </div>
    </div>
</div>
{%endblock%}